body{
    height: 850px;
    width: 1900px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    border-right: 2px solid grey;
    display: inline-block;
    padding: 0 10px 0 0;
    width: 300px;
    height: 1130px;
    margin-right: auto;
    font-style: italic;
}
aside{
    display: inline-block;
    padding: 0 0 0 10px;
    width: 1500px;
    vertical-align: top;
}
