body{
    width: 1500px;
    margin: 20px;
    height: 850px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
nav{
    border-right: 2px solid grey;
    width: 300px;
    height: 800px;
    margin-right: auto;
    display: inline-block;
    padding: 0 10px 0 0;
    font-style: italic;
    
}
aside{
    display: inline-block;
    width: 1050px;
    vertical-align: top;
    padding: 0 0 0 10px;
}
table{
    border: 1px solid grey;
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    margin: 0 auto;
}
th{
    padding: 5px;
}
td{
    padding: 3px;
}
th,td {
    border: solid 1px black;
}